/*
style.css
*/


/*
CSS Reset
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}


/*
Project CSS
*/
:root {
    --clr-background: rgb(64, 64, 64);
    --clr-foreground: white;
    --clr-text: black;
    --clr-accent: rgb(255, 118, 93);
    --sz-max-container: 1200px;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

.container {
    max-width: var(--sz-max-container);
    margin: 0 auto;
    padding: 10px 0px;
}

button {
    background-color: transparent;
    border: transparent;
    font-size: 1.25rem;
}

.button-svg {
    display: flex;
    align-items: center;
    gap: 1ch;
}


/* Header */
header {
    background-color: var(--clr-accent);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}