/*
style.css
*/


/*
CSS Reset
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}


/*
Project CSS
*/
:root {
    --clr-background: rgb(64, 64, 64);
    --clr-foreground: white;
    --clr-text: black;
    --clr-accent: rgb(255, 118, 93);
    --clr-not-read: rgb(95, 132, 255);
    --sz-max-container: 1200px;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

.container {
    max-width: var(--sz-max-container);
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: transparent;
    font-size: 1.25rem;
}

.button-svg {
    display: flex;
    align-items: center;
    gap: 1ch;
}


/* Header */
header {
    background-color: var(--clr-accent);
    padding: 10px 20px;
    box-shadow: 0px 5px 10px 0px black;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Main */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    padding: 30px 30px;
}

.card {
    background-color: var(--clr-foreground);
    height: 200px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -5px black;
    border-left: 10px solid;

    display: flex;
    flex-direction: column;
}

.card ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.read {
    border-color: var(--clr-accent);
}

.not-read {
    border-color: var(--clr-not-read);
}